* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  position: relative;
  background-color: #fff;
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1366px;
  margin: auto;
  padding: 0 20px;
  position: relative;
}

.button .btn {
  display: inline-block;
  padding: 0.75rem 2.2rem;
  background-color: #000;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  margin-top: 2rem;
  font-size: 0.95rem;
  transition: all 0.3s;
  border: 2px solid #000;
}
.button .btn:hover {
  color: #000;
  background-color: transparent;
}

.buttons {
  text-align: center;
  margin-bottom: 6rem;
}

.heading {
  margin: 8rem 0 7rem;
  text-align: center;
}
.heading__title {
  font-size: 2.4rem;
  font-weight: 700;
}

.bg-second {
  background-color: #f5f5f5;
  display: none;
}

span#mb-menu-close {
  display: none;
}

@media screen and (max-width: 1023px) {
  .mobile-menu {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-menu .mb-logo {
    font-size: 25px;
    font-weight: 700;
  }
  .mobile-menu .mb-menu-toggle {
    font-size: 2rem;
  }

  span#mb-menu-close {
    display: block;
  }

  .bg-second {
    background-color: #f5f5f5;
  }
}
@media screen and (max-width: 766px) {
  .mobile-menu {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-menu .mb-logo {
    font-size: 25px;
    font-weight: 700;
  }
  .mobile-menu .mb-menu-toggle {
    font-size: 2rem;
  }

  span#mb-menu-close {
    display: block;
  }

  .bg-second {
    background-color: #f5f5f5;
  }
}
@media screen and (max-width: 1023px) {
  .header {
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 999;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    transition: all 0.3s ease;
    overflow-x: auto;
  }
  .header.active {
    right: 0;
  }
  .header .mb-menu-close {
    display: block;
    position: absolute;
    right: 43px;
    top: 18px;
    z-index: 99;
    font-size: 25px;
  }
}
@media screen and (max-width: 766px) {
  .header {
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 999;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    transition: all 0.3s ease;
    overflow-x: auto;
  }
  .header.active {
    right: 0;
  }
  .header .mb-menu-close {
    display: block;
    position: absolute;
    right: 43px;
    top: 18px;
    z-index: 99;
    font-size: 25px;
  }
}
.header__second {
  background-color: #f5f5f5;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
@media screen and (max-width: 1023px) {
  .header__top {
    display: none;
  }
}
@media screen and (max-width: 766px) {
  .header__top {
    display: none;
  }
}
.header__top__list {
  display: flex;
}
.header__top__list__item {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid;
}
.header__top__list__item__link {
  font-size: 13px;
}
.header__top__list > li:last-child {
  border: none;
}
.header__top__list .dropdown {
  position: relative;
}
.header__top__list .dropdown .dropdown_content {
  position: absolute;
  z-index: 1;
  top: calc(100% + 10px);
  left: 0;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.header__top__list .dropdown .dropdown_content a {
  padding: 10px;
}
.header__top__list .dropdown .dropdown_content a:hover {
  color: #c0392b;
}
.header__top__list .dropdown:hover .dropdown_content {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
@media screen and (max-width: 1023px) {
  .header__main {
    flex-direction: column;
    height: unset;
    padding: 0rem 1.2rem;
  }
}
@media screen and (max-width: 766px) {
  .header__main {
    flex-direction: column;
    height: unset;
    padding: 0rem 1.2rem;
  }
}
.header__main__logo {
  font-size: 40px;
  font-weight: 700;
}
@media screen and (max-width: 1023px) {
  .header__main__logo {
    font-size: 2rem;
    margin: 1rem 0;
  }
}
@media screen and (max-width: 766px) {
  .header__main__logo {
    font-size: 2rem;
    margin: 1rem 0;
  }
}
.header__main__seach {
  position: relative;
  width: 600px;
  height: 40px;
}
@media screen and (max-width: 766px) {
  .header__main__seach {
    width: 100%;
  }
}
.header__main__seach input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 0 20px;
  font-size: 16px;
}
.header__main__seach i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
  font-size: 25px;
}
.header__main__icon i {
  font-size: 30px;
  margin-left: 11px;
}
@media screen and (max-width: 1023px) {
  .header__main__icon {
    margin: 1rem 0 0.5rem;
  }
}
@media screen and (max-width: 766px) {
  .header__main__icon {
    margin: 1rem 0 0.5rem;
  }
}
.header__bottom__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .header__bottom__list {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 766px) {
  .header__bottom__list {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__bottom__list__item {
  padding: 10px 20px;
}
.header__bottom__list__item__link {
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
}
.header__bottom__list .dropdown-mega:hover .dropdown-mega__content {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.header__bottom__list .dropdown-mega__content {
  position: absolute;
  left: 0;
  width: 100%;
  top: calc(100% + 100px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  z-index: 99;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1023px) {
  .header__bottom__list .dropdown-mega__content {
    position: relative;
    opacity: 1;
    visibility: visible;
    box-shadow: unset;
    background-color: transparent;
    padding-left: 45px;
  }
  .header__bottom__list .dropdown-mega__content__box {
    padding-bottom: unset !important;
  }
  .header__bottom__list .dropdown-mega__content img {
    display: none;
  }
}
@media screen and (max-width: 766px) {
  .header__bottom__list .dropdown-mega__content {
    position: relative;
    opacity: 1;
    visibility: visible;
    box-shadow: unset;
    background-color: transparent;
    padding-left: 45px;
  }
  .header__bottom__list .dropdown-mega__content__box {
    padding-bottom: unset !important;
  }
  .header__bottom__list .dropdown-mega__content img {
    display: none;
  }
}
.header__bottom__list .dropdown-mega__content__box {
  padding: 20px;
}
.header__bottom__list .dropdown-mega__content__box__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.header__bottom__list .dropdown-mega__content__box ul {
  margin-bottom: 50px;
}
.header__bottom__list .dropdown-mega__content__box ul li a {
  padding: 15px 0;
  border-bottom: 2px dashed #f5f5f5;
  transition: all 0.3s ease;
  margin: 0 20px;
}
.header__bottom__list .dropdown-mega__content__box ul li a:hover {
  padding-left: 10px;
}
.header__bottom__list .dropdown-mega__content__box ul li:hover {
  border-bottom: 2px solid #c0392b;
}

.hero {
  height: calc(100vh - 150px);
}
@media screen and (max-width: 1023px) {
  .hero {
    height: 80vh;
  }
}
@media screen and (max-width: 766px) {
  .hero {
    height: 70vh;
  }
}
.hero .slider {
  height: 100%;
  position: relative;
}
.hero .slider__item {
  display: flex;
  height: 0%;
  overflow: hidden;
  visibility: hidden;
}
@media screen and (max-width: 1023px) {
  .hero .slider__item {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 766px) {
  .hero .slider__item {
    flex-direction: column-reverse;
  }
}
.hero .slider__item.active {
  visibility: visible;
  height: 100%;
}
.hero .slider__item__content {
  width: 50%;
}
@media screen and (max-width: 1023px) {
  .hero .slider__item__content {
    width: 100%;
    padding-bottom: 7rem;
  }
}
@media screen and (max-width: 766px) {
  .hero .slider__item__content {
    width: 100%;
    padding-bottom: 5rem;
  }
}
.hero .slider__item__content__title {
  margin-top: 4.5rem;
  margin-bottom: 0.8rem;
}
@media screen and (max-width: 766px) {
  .hero .slider__item__content__title {
    margin: unset;
  }
}
.hero .slider__item__content__subtitle {
  font-size: 4.4rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 766px) {
  .hero .slider__item__content__subtitle {
    font-size: 2.4rem;
    margin: unset;
  }
}
@media screen and (max-width: 1023px) {
  .hero .slider__item__content__desc {
    display: none;
  }
}
@media screen and (max-width: 766px) {
  .hero .slider__item__content__desc {
    display: none;
  }
}
.hero .slider__item__images {
  width: 50%;
  margin-top: -4.7rem;
}
@media screen and (max-width: 1023px) {
  .hero .slider__item__images {
    width: 60%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 766px) {
  .hero .slider__item__images {
    width: 80%;
    margin: 0 auto;
  }
  .hero .slider__item__images img {
    max-width: 300px;
  }
}
.hero .slide-controll {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: none;
  transition: all 0.4s ease;
  font-size: 1.8rem;
}
.hero .slide-controll:hover {
  background-color: #000;
  color: #fff;
}
.hero .slide-next {
  left: 5rem;
}
@media screen and (max-width: 1023px) {
  .hero .slide-next {
    left: 19.5rem;
    top: unset;
    bottom: 3%;
  }
}
@media screen and (max-width: 766px) {
  .hero .slide-next {
    left: 10.5rem;
    top: unset;
    bottom: 3%;
  }
}
.hero .slide-prev {
  right: 8rem;
}
@media screen and (max-width: 1023px) {
  .hero .slide-prev {
    right: 19.5rem;
    top: unset;
    bottom: 3%;
  }
}
@media screen and (max-width: 766px) {
  .hero .slide-prev {
    right: 10.5rem;
    top: unset;
    bottom: 3%;
  }
}

.promotion {
  margin-top: 2rem;
}
.promotion__box {
  display: flex;
  background-color: #e3e3e3;
}
@media screen and (max-width: 1023px) {
  .promotion__box {
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 766px) {
  .promotion__box {
    justify-content: space-between;
    align-items: center;
  }
}
.promotion__box__content {
  padding: 20px;
}
.promotion__box__content__title {
  font-size: 1.4rem;
}
.promotion__box__images {
  width: 150px;
  transition: all 0.3s ease;
}
.promotion__box:hover .promotion__box__images {
  transform: scale(1.1);
}

.product__card {
  text-align: center;
  transition: all 0.3s ease;
}
.product__card:hover {
  background-color: #e3e3e3;
}
.product__card__img {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 300px;
}
.product__card__img img {
  transition: all 0.3s ease;
  max-height: 100%;
}
.product__card__img img:nth-child(2) {
  display: none;
}
.product__card:hover img:nth-child(2) {
  display: block;
}
.product__card:hover img:nth-child(1) {
  display: none;
}
.product__card__name {
  margin-top: 1rem;
  font-size: 1.4rem;
}
.product__card__price {
  padding: 0 0 1.5rem 0;
}
.product__card__price .curr-price {
  color: #c0392b;
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 0.6rem;
}
.product .product-btn {
  transform: translateY(30px);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}
.product .product-btn .btn-flat {
  border: none;
  background-color: #000;
  padding: 0.5rem 0.7rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
}
.product .product-btn .btn-flat:hover {
  background-color: #fff;
  color: #000;
}
.product__card:hover .product-btn {
  transform: translateY(0px);
  visibility: visible;
}
.product .button {
  text-align: center;
  margin: 2rem 0 7rem;
}

.bgsecond {
  background-color: #f5f5f5;
}
.bgsecond__img {
  margin: 5rem 0;
}
.bgsecond__content__title {
  margin: 4rem 0rem 2rem;
  font-size: 3rem;
  font-weight: 600;
}
.bgsecond__content__desc {
  padding-right: 6rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 766px) {
  .bgsecond__content__desc {
    padding-right: unset;
  }
}

.blog__content {
  padding: 0 2.5rem;
}
.blog__content__title {
  font-size: 2rem;
  padding: 3rem 0 2rem;
}
.blog__content__desc {
  text-align: justify;
  margin-bottom: 20px;
}

.footer {
  background-color: #f5f5f5;
}
.footer__item {
  padding: 5rem 0;
}
.footer__item__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.footer__item__list a {
  line-height: 2;
  transition: all 0.3s ease;
}
.footer__item__list a:hover {
  color: #c0392b;
  margin-left: 0.6rem;
}
.footer__item__contact {
  text-align: center;
}
.footer__item__contact__logo {
  font-size: 2.4rem;
  font-weight: 600;
}
.footer__item__contact__icon {
  margin: 2rem 0;
}
.footer__item__contact__icon i {
  font-size: 1.8rem;
  padding: 0rem 0.5rem;
}
.footer__item__contact__icon i:hover {
  opacity: 0.6;
}
.footer__item__subscribe {
  position: relative;
}
.footer__item__subscribe input {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #fff;
  outline: none;
  border: none;
}
.footer__item__subscribe button {
  position: absolute;
  top: 15%;
  right: 2%;
  background-color: #c0392b;
  border: none;
  padding: 0.6rem 1rem;
  color: #fff;
  text-transform: uppercase;
}
.footer__item__subscribe button:hover {
  background-color: #000;
  color: #fff;
}

/*# sourceMappingURL=app.css.map */
